* {
    font-family: 'Lato', sans-serif;
}

main {
    margin-top: 150px;
}

#card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.hidden {
    display: none;
}